.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: auto;
    background-color: #797979;
    /* background-image: linear-gradient(to left top, #126180, #006987, #147189, #20637b, #126180); */
    height: 22.4mm;
    padding: 3.2mm 6.4mm;
    font-family: "Leelawadee";
    color: white;
}

.header-separator {
    height: 28.8mm;
    width: 0;
    /* border-left: 2px solid #cecece38; */
    margin: 0 11.2mm;
}

.page-1-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    height: 100%;
}

.left, .right {
    position: relative;
    height: 100%;
}

.left {
    width: 40%;
    background-color: aliceblue;
}

.right {
    width: 60%;
    margin-top: 9.6mm;
}

.footer {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    height: 6.4mm;
    background-color: beige;
    /* background-image: linear-gradient(to top right, #124b69, #006987, #00889f, #00a9b1, #12c9bc); */
    background: repeating-linear-gradient(-45deg, #e0e0e0, #e0e0e0 10px, #c1c1c1 10px, #c1c1c1 20px);
}

.page-continue {
    position: absolute;
    bottom: 6.4mm;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    font-size: 2.56mm;
    color: #00889f;
}

.page-continue>i+i {
    margin-left: 3.2mm;
}

.img-profile-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .img-profile-background {
    background-image: url(../images/pattern.png);
    width: 100%;
    height: 100%;
    position: absolute;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 0.1;
    transform: rotateX(0deg) rotateY(-180deg) translate(40px, 10px);
} */

.img-profile {
    width: 100%;
    aspect-ratio: 1/1;
    background-image: url(../images/profile.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    /* border-radius: 50%; */
    /* box-shadow: 0mm 0.5mm 5mm 0mm rgba(0, 0, 0, 0.3); */
}

.contact {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    align-self: flex-start;
    margin-top: -1.6mm;
    margin-left: 22.4mm;
}

.contact-name {
    display: flex;
    align-items: center;
    font-size: 4.2mm;
}

.contact-name.thai {
    margin-bottom: 3.2mm;
    letter-spacing: .5px;
}

.contact-nick {
    font-size: 2.56mm;
    letter-spacing: 1px;
}

.contact-line {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.contact-group {
    display: flex;
    font-size: 2.88mm;
}

.contact-group+.contact-group {
    margin-left: 6.4mm;
}

.contact-group>i {
    display: flex;
    justify-content: center;
    width: 4.8mm;
    margin-top: 0.64mm;
    margin-left: -0.64mm;
}

.contact-info {
    letter-spacing: 1px;
    margin-left: 1.28mm;
}

.contact-info.address {
    margin-left: 2.56mm;
    margin-top: 0.64mm;
}

.info-box-wrapper {
    /* height: calc(100vh - 40vw); */
}

.info-box {
    position: relative;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    font-family: "Leelawadee";
    margin: 3.2mm;
    padding: 0 3.2mm;
    /* background-color: #f4f7f9; */
    /* border-radius: 5px; */
    /* border: 1px solid #dde7f1; */
    /* box-shadow: 0 0.5mm 2mm rgba(0, 0, 0, .3); */
}

.info-box+.info-box {
    margin-top: 3.2mm;
}

.info-box .title {
    position: relative;
    padding-bottom: 1.6mm;
    font-size: 4.2mm;
    /* letter-spacing: -1px; */
    /* border-bottom: 1px solid #c9d1d6; */
    color: #0a5275;
}

/* .info-box .title.activities {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
} */

.link-to-proposal {
    font-size: 2.88mm;
    text-decoration: none;
    cursor: pointer;
    color: indianred;
    margin-right: -3.2mm;
}

.info-box>.info {
    display: flex;
    flex-direction: column;
    padding-left: 3.2mm;
}

.info-box>.info>.group {
    display: flex;
    flex-direction: column;
}

.info-box>.info>.group+.group {
    margin-top: 1.6mm;
    padding-top: 1.6mm;
    /* border-top: 1px solid #dde7f1; */
}

.info-box>.info .logo {
    display: flex;
    align-self: center;
    width: 22.4mm;
    height: 22.4mm;
    background-image: url(../images/utcc_logo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    border-radius: 50%;
}

.info-box .period {
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    font-size: 3.2mm;
    /* color: #666; */
    width: 20.8mm;
    background-color: aliceblue;
    border-radius: 5px;
}

.info-box .period>.to, .info-box .period>.from {
    /* background-color: #00839b; */
    border-radius: 3px;
    padding: 0 1.6mm;
    font-weight: bold;
    /* color: #9fa4ac; */
}

.info-box .period>.line {
    width: 0;
    min-height: 4.8mm;
    border-left: 1px solid #9fa4ac;
}

.info-box .period>.arrow {
    width: 0;
    height: 0;
}

.info-box .detail {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 1.6mm;
    font-size: 2.88mm;
}

.info-box .detail>div:not(.company) {
    color: #555;
}

.company-title, .position-title, .technology-title {
    color: #797979;
    font-size: 3mm;
}

.company-title {
    margin-right: 6.8mm;
}

.position-title {
    margin-right: 8.8mm;
}

.technology-title {
    margin-right: 3.6mm;
}

.info-box .university-logo {
    position: absolute;
    bottom: -3.2mm;
    right: 3.2mm;
    display: flex;
    align-self: flex-end;
    height: 100%;
    width: 51.2mm;
    background-image: url(../images/university.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 50% 40%;
}

.info-box .certificates {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 3.2mm;
}

.certificates .cert {
    width: 33.76mm;
    height: 25.6mm;
    background-size: cover;
    box-shadow: 0mm 0.5mm 5mm 0mm rgba(0, 0, 0, 0.3);
    margin-bottom: 1.6mm;
}

.cert-name {
    font-size: 2.88mm;
}

.cert.cognos-tr {
    background-image: url(../images/cognos-tr.png);
}

.cert.cognos {
    background-image: url(../images/cognos.png);
}

.cert.java {
    background-image: url(../images/java.png);
}

.graph-cont {
    width: calc(100% - 40px);
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

.bar {
    font-size: 4.2mm;
    max-width: 64mm;
    margin: 0 0 10px 0;
    line-height: 4.2mm;
    font-size: 2.56mm;
    color: white;
    padding: 0 0 0 10px;
    position: relative;
    z-index: 2;
}

.bar::before {
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    height: 4.2mm;
    top: 0;
    background: #e3e4e6;
    background: repeating-linear-gradient(-45deg, #e0e0e0, #e0e0e0 10px, #c1c1c1 10px, #c1c1c1 20px);
    border-radius: 5px;
    z-index: -2;
}

.bar::after {
    position: absolute;
    content: "";
    background: #797979;
    height: 4.2mm;
    transition: 0.7s;
    display: block;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 5px 0 0 5px;
    z-index: -1;
}

/* .bar:nth-child(1)::after {
  background-color: #073f8f;
}

.bar:nth-child(2)::after {
  background-color: #005A8E;
}

.bar:nth-child(3)::after {
  background-color: #00889F;
}

.bar:nth-child(4)::after {
  background-color: #22AEA8;
}

.bar:nth-child(5)::after {
  background-color: #44BDA0;
} */

.bar-th::after {
    max-width: 90%;
}

.bar-en::after {
    max-width: 50%;
}

.bar-doc::after {
    max-width: 75%;
}

.bar-xls::after {
    max-width: 50%;
}

.bar-ppt::after {
    max-width: 60%;
}

.bar-sap::after {
    max-width: 50%;
}

.bar-exp::after {
    max-width: 45%;
}

.bar-ts::after {
    max-width: 90%;
}

.bar-java::after {
    max-width: 60%;
}

.bar-vue::after {
    max-width: 90%;
}

.bar-react::after {
    max-width: 50%;
}

.bar-ng::after {
    max-width: 50%;
}

.bar-css::after {
    max-width: 90%;
}

.bar-go::after {
    max-width: 40%;
}

.bar-amss::after, .bar-cmss::after {
    max-width: 85%;
}

.hobbies {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    font-size: 4.48mm;
    color: #666;
}

.hobbies>i+i {
    margin-left: 6.4mm;
}

.space-between {
    justify-content: space-between;
}

.clifton {
    position: relative;
}

.clifton::after {
    content: "®";
    position: absolute;
    top: 0;
    right: -12px;
    font-size: 2.88mm;
}

.strength-name {
    padding-left: 1.6mm;
}

.deepspace-links {
    display: flex;
    flex-direction: column;
    margin: 0 0 1.6mm;
}

.info.deepspace {
    position: relative;
    background-image: url(../images/deepspace.jpg);
    background-repeat: no-repeat;
    background-size: 108%;
    background-position: 0% 200%;
    width: 110mm;
    aspect-ratio: 3/2;
    color: white;
    overflow: hidden;
}

.deepspace .group {
    width: calc(100% + 6.4mm);
    height: 12.8mm;
    left: -3.2mm;
    padding-left: 3.2mm;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.deepspace .group::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
    filter: blur(10px);
    margin: -30px;
    background-image: url(../images/deepspace.jpg);
    background-repeat: no-repeat;
    background-size: 95%;
    background-position: 47% 10%;
    margin-left: -3.2mm;
}

.deepspace .detail>div {
    margin-left: 7.68mm;
}